.works {
    margin-top: 5em;
    color: #fff;
    text-align: center;

    &__header {
        font-size: 1.4rem;
        color: var(--color-text);
    }

    &__container {
        overflow: hidden;
    }
}
