.works {
    margin-top: 5em;
    color: #fff;
    text-align: center;

    &__header {
        font-weight: 400;
        font-size: 1.4rem;
        color: var(--color-text);
    }

    &__links {
        flex-direction: column;
        align-self: flex-end;
        align-items: flex-end;
        justify-content: space-between;
        width: 4.3em;
    }

    &__title {
        h3 {
            display: inline-block;
            border: 2px solid #fff;
            padding: 0.3em 2em;
            border-radius: 30px;
            margin-bottom: 1em;
            margin-top: -1em;
        }
    }
}