.skills {
    color: var(--color-text);

    h3 {
        font-size: 1.4rem;
    }

    &__wrapper {
        transition: transform 200ms ease-in;

        &:hover,
        &:focus {
            transform: translateY(-10px);
        }

        h4 {
            font-weight: 400;
            font-size: 0.95rem;
            margin-bottom: 1em;
        }

    }
}
