.navbar {
    width: 100%;
    background: var(--color-secondary);
    color: #fff;
    height: 60px;

    div {
        padding: 1em;
    }

    h3 {
        font-weight: 600;
    }

    a {
        font-size: 0.9rem;
        padding: 10px;

        &:hover, &:focus {
            border-bottom: 2px solid #fff;
        }
    }

}