.navbar {
    width: 100%;
    background: var(--color-secondary);
    color: #fff;
    height: 60px;

    &__links {
        padding: 1em;
    }


    a {
        font-size: 0.9rem;
        padding: 10px;

        &:hover,
        &:focus {
            border-bottom: 2px solid #fff;
        }
    }
    
    ul {
        margin-top: 0.5em;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    @media (max-width: 800px) {
        height: 110px;


        h3 {
            display: none;
        }

        &__links {
            flex-direction: column;
        }
    }
}
