.intro {
    color: #fff;

    h3 {
        font-size: 1.5rem;
        font-style: italic;
    }

    @media (max-width: 600px) {
        h3 {
            font-size: calc(1vw + 0.8rem);
        }

        p {
            font-size: calc(1vw + 0.65rem);
        }
    }

    // in case gap property is not supported (mostly mobile)
    @supports not (gap: 10%) {
        margin-bottom: 2em;
    }
}
