:root {
  --color-primary: #1c3fa8;
  --color-secondary: #047aed;
  --color-dark: #002240;
  --color-text: #333;
  --color-border: #b4becb;
}

body {
  font-family: roboto, sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #eee;
}

.app {
  width: 100%;
  overflow-y: hidden;
}

.container {
  width: 100vw;
  max-width: 1100px;
  margin: 0 auto;
  overflow-x: hidden;
  height: 100%;
}

@media (max-width: 1100px) {
  .container {
    padding: 0 1rem;
  }
}

.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: var(--row-justify, center);
      -ms-flex-pack: var(--row-justify, center);
          justify-content: var(--row-justify, center);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: var(--row-wrap, wrap);
      flex-wrap: var(--row-wrap, wrap);
}

.flex_column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: var(--column-align, center);
      -ms-flex-align: var(--column-align, center);
          align-items: var(--column-align, center);
}

@supports (gap: var(--flex-gap, 0.7em)) {
  .flex_column {
    gap: var(--flex-gap, 0.7em);
  }
}

.grid_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-columns, 2), 1fr);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.side_padding {
  padding: 0;
}

@media (max-width: 740px) {
  .side_padding {
    padding: 8%;
  }
}

.header {
  background: var(--color-secondary);
  position: relative;
}

.header::before, .header::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

.header__grid {
  overflow: visible;
  -ms-grid-columns: 55% 35%;
      grid-template-columns: 55% 35%;
  gap: 10%;
  padding: 0 3em;
}

@media (max-width: 800px) {
  .header__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding: 0 3em;
    padding-top: 5em;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header__grid {
    padding: 0 2em;
    padding-top: 5em;
  }
}

@media (max-width: 400px) {
  .header__grid {
    padding: 0 2em;
    padding-top: 2em;
  }
}
/*# sourceMappingURL=App.module.css.map */